.iconButton {
  position: relative;
  width: 30px;
  height: 30px;
}

.disabled {
  opacity: var(--opacity-30);
}

.input {
  position: absolute;
  z-index: var(--z-index-1); /* stack above .icon */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
}
.disabled .input {
  cursor: not-allowed;
}

.fill {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: var(--border-radius-2);
  color: var(--color-black-80);
}
.iconButton:not(.disabled) .input:not(:checked):hover ~ .fill {
  background-color: var(--color-black-6-translucent);
}
.iconButton:not(.disabled) .input:focus ~ .fill {
  border-color: var(--color-accent);
}
.iconButton:not(.disabled) .input:checked:focus ~ .fill {
  border-color: var(--color-black-30-translucent);
}
.input:checked ~ .fill {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon svg {
  color: currentColor;
}
