.textbox {
  position: relative;
  z-index: var(--z-index-1);
}
.textbox:focus-within {
  z-index: var(--z-index-2); /* Stack `.textbox` over its sibling elements */
}

.input {
  display: block;
  width: 100%;
  height: 28px;
  padding: 0 var(--space-extra-small);
  background-color: transparent;
  color: var(--figma-color-text);
}
.disabled .input {
  color: var(--figma-color-text-disabled);
  cursor: not-allowed;
}
.hasIcon .input {
  padding-left: 32px;
}

.input::placeholder {
  color: var(--figma-color-text-tertiary);
}

.icon {
  position: absolute;
  top: 14px;
  left: 16px;
  color: var(--figma-color-icon-secondary);
  pointer-events: none; /* so that clicking the icon focuses the textbox */
  text-align: center;
  transform: translate(-50%, -50%);
}
.textbox:not(.disabled) .input:focus ~ .icon {
  color: var(--figma-color-icon-brand);
}
.disabled .icon {
  color: var(--figma-color-icon-disabled);
}

.icon svg {
  fill: currentColor;
}

.border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  border-radius: var(--border-radius-2);
  pointer-events: none;
}
.hasBorder .border,
.textbox:not(.disabled):hover .border {
  border-color: var(--figma-color-border);
}
.textbox:not(.disabled) .input:focus ~ .border {
  top: -1px;
  bottom: -1px;
  border-width: 2px;
  border-color: var(--figma-color-border-brand-strong);
}

.underline {
  position: absolute;
  right: var(--space-extra-small);
  bottom: 0;
  left: var(--space-extra-small);
  height: 1px;
  background-color: var(--figma-color-border);
}
.textbox:not(.disabled) .input:focus ~ .underline,
.textbox:not(.disabled):hover .underline {
  background-color: transparent;
}
