@import "../../scss/constants";
@import "../../scss/text";

.textbox {
  @include text-11-regular;
  position: relative;
}

.input {
  @include text-11-regular;
  border: 1px solid $color-black-10;
  border-radius: $border-radius-2;
  padding-left: 6px;
  width: 100%;
  height: 32px;
  color: $color-black-80;

  &:active,
  &:focus {
    border: 2px solid $color-blue;
    padding-left: 5px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: $opacity-30;
  }

  &:disabled:active,
  &:disabled:focus {
    border: 1px solid $color-black-10;
    padding-left: 6px;
  }

  &::placeholder {
    color: $color-black-30;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .noBorder & {
    border-color: transparent;

    &:hover {
      border-color: $color-black-10;
    }

    &:active,
    &:focus {
      border-color: $color-blue;
    }
  }

  .hasIcon & {
    padding-left: 28px;

    &:active,
    &:focus {
      padding-left: 27px;
    }
  }
}

.icon {
  pointer-events: none;
  position: absolute;
  top: 8px;
  left: 8px;

  svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: $color-black-30;

    .input:active + &,
    .input:focus + & {
      fill: $color-blue;
    }
  }
}
