@import "../_constants.scss";
@import "../_text.scss";

.textbox {
  @include text-11-regular;
  position: relative;
  cursor: default;
}

.input {
  // reset
  display: block;
  box-sizing: border-box;
  outline: 0;
  padding: 0;

  @include text-11-regular;
  cursor: default;
  border: 1px solid $color-black-1;
  border-radius: $border-radius-2;
  padding: 0 6px;
  width: 100%;
  height: 32px;
  color: $color-black-8;

  &:active,
  &:focus {
    border: 2px solid $color-blue;
    padding: 0 5px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: $opacity-30;
  }

  &:disabled:active,
  &:disabled:focus {
    border: 1px solid $color-black-1;
    padding: 0 6px;
  }

  &::placeholder {
    color: $color-black-3;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .noBorder & {
    border-color: transparent;

    &:hover {
      border-color: $color-black-1;
    }

    &:active,
    &:focus {
      border-color: $color-blue;
    }
  }

  .withIcon & {
    padding-left: 28px;

    &:active,
    &:focus {
      padding-left: 27px;
    }
  }
}

.icon {
  pointer-events: none;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 8px;

  svg {
    display: block;
    fill: $color-black-3;

    .input:active + &,
    .input:focus + & {
      fill: $color-blue;
    }
  }
}

.options {
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;
  border-radius: $border-radius-2;
  padding: 8px 0;
  color: $color-white;
  background-color: $color-gray;
  box-shadow: $box-shadow;
  max-height: 80px;
  overflow-y: auto;
}

.option,
.optionSelected {
  padding: 4px 16px;
}

.optionSelected {
  background-color: $color-blue;
}
