.link {
  color: var(--figma-color-text-brand);
  pointer-events: all;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:focus {
  border-radius: var(--border-radius-2);
  background-color: var(--figma-color-bg-selected);
  outline: 0;
}

.fullWidth {
  display: block;
}
