.toggle {
  position: relative;
  z-index: var(--z-index-1);
}

.input {
  position: absolute;
  z-index: var(
    --z-index-1
  ); /* stack `.input` over all other elements within `.toggle` */
  top: -8px;
  right: -16px;
  bottom: -8px;
  left: -16px;
  display: block;
  width: calc(100% + 32px);
}
.disabled .input {
  cursor: not-allowed;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 12px;
  border: 1px solid var(--figma-color-border-strong);
  border-radius: 6px;
  transition: background-color 0.1s ease-out;
}
.toggle:not(.disabled) .input:focus ~ .box {
  box-shadow: 0 0 0 1px var(--figma-color-bg),
    0 0 0 3px var(--figma-color-border-brand-strong);
}
.toggle:not(.disabled) .input:checked ~ .box {
  background-color: var(--figma-color-bg-inverse);
}
.disabled .input ~ .box {
  border-color: var(--figma-color-border-disabled);
}
.disabled .input:checked ~ .box {
  background-color: var(--figma-color-bg-disabled);
}

.switch {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  background-color: var(--figma-color-bg);
  border-radius: 6px;
  transition: left 0.1s ease-out;
}
.input:not(:checked) ~ .switch {
  left: 0;
}
.input:checked ~ .switch {
  left: 12px;
}
.toggle:not(.disabled) .input ~ .switch {
  border-color: var(--figma-color-border-strong);
}
.disabled .input ~ .switch {
  border-color: var(--figma-color-border-disabled);
}

.children {
  padding: 2px 0 0 32px;
  color: var(--figma-color-text);
}
.disabled .children {
  opacity: var(--opacity-30);
}
