.toggle {
  position: relative;
  z-index: var(--z-index-1);
  width: 24px;
  height: 12px;
}
.disabled {
  opacity: var(--opacity-30);
}

.input {
  position: absolute;
  top: -8px;
  right: -16px;
  bottom: -8px;
  left: -16px;
  z-index: var(
    --z-index-1
  ); /* stack `.input` over all other elements within `.toggle` */
  display: block;
  width: calc(100% + 32px);
}
.disabled .input {
  cursor: not-allowed;
}

.switch {
  position: relative;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black-80);
  border-radius: 6px;
  transition: left 0.1s ease-out;
}
.input:checked ~ .switch {
  left: 12px;
}

.box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--color-black-80);
  border-radius: 6px;
  transition: background-color 0.1s ease-out;
}
.toggle:not(.disabled) .input:focus ~ .box {
  box-shadow: 0 0 0 1px var(--color-white), 0 0 0 2px var(--color-blue);
}
.input:checked ~ .box {
  background-color: var(--color-black-80);
}
