@import '../../scss/constants';

.extraSmall {
  height: $space-extra-small;
}

.small {
  height: $space-small;
}

.medium {
  height: $space-medium;
}

.large {
  height: $space-large;
}

.extraLarge {
  height: $space-extra-large;
}
