.DS_Store
*.log
*.css.d.ts
*.tsbuildinfo
.turbo
lib/
node_modules/
sandbox/
/build/
/packages/**/fixtures/**/build/
/packages/create-figma-plugin/test/figma-plugin/
/packages/ui/build/
/packages/website/build/
