.DS_Store
.turbo
*.log
*.css.d.ts
*.tsbuildinfo
lib/
node_modules/
sandbox/
/build/
/packages/**/fixtures/**/build/
/packages/**/fixtures/**/manifest.json
/packages/create-figma-plugin/test/figma-plugin/
/packages/ui/build/
/packages/website/build/
