.DS_Store
*.log
*.css.d.ts
*.tsbuildinfo
lib/
node_modules/
/build/
/packages/**/fixtures/**/build/
/packages/**/fixtures/**/figma-plugin/
/packages/create-figma-plugin/docs
/packages/create-figma-plugin/README.md
/packages/ui/build/
