.disclosure {
  position: relative;
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title,
.children {
  padding: var(--space-extra-small) var(--space-small) var(--space-extra-small)
    var(--space-large);
}

.title {
  position: relative;
  color: var(--figma-color-text);
  font-weight: var(--font-weight-bold);
}
.title:hover,
.input:focus ~ .title {
  background-color: var(--figma-color-bg-hover);
}

.icon {
  position: absolute;
  top: var(--space-extra-small);
  left: 0;
  color: var(--figma-color-icon);
}
.input:checked ~ .title .icon {
  top: calc(var(--space-extra-small) - 2px);
  left: 2px;
  transform: rotate(90deg);
}

.children {
  display: none;
  color: var(--figma-color-text);
}
.input:checked ~ .children {
  display: block;
}
