@import "../../scss/constants";
@import "../../scss/text";

.inline {
  user-select: none;
}

.item {
  display: inline-block;
}

.extraSmall {
  margin-left: -$space-extra-small;

  > .item {
    margin-left: $space-extra-small;
  }
}

.small {
  margin-left: -$space-small;

  > .item {
    margin-left: $space-small;
  }
}

.medium {
  margin-left: -$space-medium;

  > .item {
    margin-left: $space-medium;
  }
}

.large {
  margin-left: -$space-large;

  > .item {
    margin-left: $space-large;
  }
}
