.searchDropdown {
  position: relative;
  z-index: var(--z-index-1);
  width: 100%;
}

.searchDropdown:focus {
  border-color: var(--figma-color-border-selected);
}

.disabled,
.disabled * {
  cursor: not-allowed;
}

.inputContainer {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.input {
  display: block;
  width: 100%;
  height: var(--space-32);
  padding: var(--space-0) var(--space-32);
  border-radius: var(--border-radius-6);
  background-color: var(--figma-color-bg-secondary);
  color: var(--figma-color-text);
  cursor: text;
}
.disabled .input {
  color: var(--figma-color-text-disabled);
  cursor: not-allowed;
}
.input::placeholder {
  color: var(--figma-color-text-tertiary);
}

.searchIcon {
  position: absolute;
  top: var(--space-4);
  left: var(--space-4);
  color: var(--figma-color-icon-secondary);
  pointer-events: none; /* so that clicking the icon focuses the textbox */
}
.disabled .searchIcon {
  color: var(--figma-color-icon-disabled);
}
.input:focus ~ .searchIcon {
  color: var(--figma-color-icon);
}

.icon {
  position: absolute;
  top: 50%;
  left: var(--space-3);
  color: var(--figma-color-icon-secondary);
  pointer-events: none;
  transform: translateY(-50%);
}

.clearButton {
  position: absolute;
  top: var(--space-0);
  right: var(--space-0);
  width: var(--space-32);
  height: var(--space-32);
  padding: calc(var(--space-4) - var(--border-width-1));
  color: var(--figma-color-icon-secondary);
}
.searchTextbox:not(.disabled) .clearButton:hover,
.searchTextbox:not(.disabled) .clearButton:focus-visible {
  color: var(--figma-color-icon);
}
.disabled .clearButton {
  color: var(--figma-color-icon-disabled);
}

.clearButtonBox {
  display: block;
  border: var(--border-width-1) solid transparent;
  border-radius: var(--border-radius-4);
}
.searchTextbox:not(.disabled) .clearButton:focus-visible .clearButtonBox {
  border-color: var(--figma-color-border-selected);
}
.clearButtonBox svg {
  display: block;
}

.chevronIcon {
  position: absolute;
  right: 0;
  display: flex;
  width: var(--space-32);
  height: var(--space-32);
  align-items: center;
  justify-content: center;
}

.valueDisplay {
  display: none;
}

/* Position the menu in the document body */
:global(.menu-container) {
  position: fixed;
  z-index: var(--z-index-5);
}

.searchContainer {
  position: sticky;
  z-index: var(--z-index-3);
  top: 0;
  width: 100%;
  padding: var(--space-8) var(--space-8);
  border-bottom: var(--border-width-1) solid var(--figma-color-border);
  background-color: var(--figma-color-bg);
}

.searchInputWrapper {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.searchInput {
  width: 100%;
  height: var(--space-32);
  padding: var(--space-0) var(--space-8) var(--space-0) var(--space-32);
  border: var(--border-width-1) solid var(--figma-color-border);
  border-radius: var(--border-radius-6);
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  font-size: var(--font-size-12);
}

.searchInput:focus {
  border-color: var(--figma-color-border-selected);
  outline: 0;
}
