@import '../../scss/constants';
@import '../../scss/text';

.segmentedControl {
  @include text-11-regular;
  display: inline-block;
  overflow: hidden;
  border-radius: $border-radius-2;

  &:hover {
    box-shadow: inset 0 0 0 1px $color-silver;
  }

  &:focus {
    outline: none;
  }
}

.label {
  position: relative;
  display: inline-block;
  text-align: center;
}

.input {
  display: none;
}

.text {
  margin-left: -2px;
  padding: 6px 8px;
  color: $color-black-80;
  border: 2px solid transparent;
  border-radius: $border-radius-2;

  label:first-child .input + & {
    margin-left: 0;
  }

  .input:checked + & {
    background-color: $color-silver;
  }

  .segmentedControl:focus .input:checked + & {
    border-color: $color-blue;
  }

  .segmentedControl:hover label:first-child .input:checked + & {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .segmentedControl:focus label:first-child .input:checked + & {
    border-top-right-radius: $border-radius-2;
    border-bottom-right-radius: $border-radius-2;
  }

  .segmentedControl:hover label:last-child .input:checked + & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .segmentedControl:focus label:last-child .input:checked + & {
    border-top-left-radius: $border-radius-2;
    border-bottom-left-radius: $border-radius-2;
  }

  .input:disabled + & {
    color: $color-black-80;
    cursor: not-allowed;
    opacity: $opacity-30;
  }
}
