@import "../../scss/constants";
@import "../../scss/text";

.segmentedControl {
  @include text-11-regular;
  display: inline-block;
  border-radius: $border-radius-2;
  overflow: hidden;

  &:hover {
    box-shadow: inset 0 0 0 1px $color-silver;
  }
}

.label {
  display: inline-block;
  text-align: center;
}

.input {
  display: none;
}

.text {
  padding: 6px 8px;
  border-radius: $border-radius-2;
  color: $color-black-80;

  .input:checked + & {
    background-color: $color-silver;
  }

  .segmentedControl:hover label:first-child .input:checked + &,
  .segmentedControl:hover label:last-child .input:checked + & {
    border-radius: 0;
  }

  .input:disabled + & {
    cursor: not-allowed;
    opacity: $opacity-30;
    color: $color-black-80;
  }
}
