.segmentedControl {
  position: relative;
  z-index: var(--z-index-1);
  display: flex;
  overflow: hidden;
  border-radius: var(--border-radius-4);
  background-color: var(--figma-color-bg-secondary);
}

.input {
  display: block;
  width: 0;
  height: 0;
}

.box {
  display: flex;
  min-width: var(--space-24);
  height: var(--space-24);
  align-items: center;
  justify-content: center;
  border: var(--border-width-1) solid transparent;
  border-radius: var(--border-radius-4);
  color: var(--figma-color-text-secondary);
}
.input:checked ~ .box {
  border-color: var(--figma-color-border);
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}
.input:focus-visible ~ .box {
  border-color: var(--figma-color-border-selected);
  color: var(--figma-color-text);
}
.input:disabled ~ .box {
  color: var(--figma-color-text-disabled);
}

.text {
  padding: var(--space-4) var(--space-8);
}
