:root {
  color-scheme: dark;
}

html {
  font-size: var(--base-font-size-sm);
}

body {
  background-color: var(--color-black);
  color: var(--color-gray-5);
  font-family: var(--font-family);
}

code {
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
}

::selection {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--color-black);
}

@media (min-width: 640px) {
  html {
    font-size: var(--base-font-size-md);
  }
}

@media (min-width: 1000px) {
  html {
    font-size: var(--base-font-size-lg);
  }
}

@media (min-width: 1400px) {
  html {
    font-size: var(--base-font-size-xl);
  }
}
