*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
ol,
ul,
li,
input,
hr,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: block;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  background-color: transparent;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}
