@import '../../scss/constants';

.extraSmall {
  padding: 0 $space-extra-small;
}

.small {
  padding: 0 $space-small;
}

.medium {
  padding: 0 $space-medium;
}

.large {
  padding: 0 $space-large;
}

.extraLarge {
  padding: 0 $space-extra-large;
}
