.extraSmall {
  padding: 0 var(--space-extra-small);
}
.small {
  padding: 0 var(--space-small);
}
.medium {
  padding: 0 var(--space-medium);
}
.large {
  padding: 0 var(--space-large);
}
.extraLarge {
  padding: 0 var(--space-extra-large);
}
