@import '../../scss/constants';
@import '../../scss/text';

.button {
  position: relative;
  display: inline-block;

  button {
    @include text-11-regular;
    display: inline-block;
    height: 32px;
    color: currentColor;
    border-radius: $border-radius-6;
  }

  &.disabled {
    opacity: $opacity-30;

    button {
      cursor: not-allowed;
    }
  }
}

.primary {
  color: $color-white;

  button {
    padding: 0 14px;
    line-height: 28px;
    background-color: $color-blue;
    border: 2px solid transparent;

    &:focus {
      border-color: $color-black-30;
    }
  }

  &.destructive {
    color: $color-white;

    button {
      background-color: $color-red;
    }
  }

  &.disabled button {
    background-color: $color-black-80;
  }
}

.secondary {
  color: $color-black-80;

  button {
    padding: 0 15px;
    line-height: 30px;
    background-color: $color-white;
    border: 1px solid $color-black-80;

    &:focus {
      padding: 0 14px;
      line-height: 28px;
      border-color: $color-blue;
      border-width: 2px;
    }
  }

  &.destructive {
    color: $color-red;

    button {
      border-color: $color-red;
    }
  }
}

.fullWidth {
  display: block;

  button {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.loading {
  button {
    color: rgba(0, 0, 0, 0);
  }

  .loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      fill: currentColor;
    }
  }
}
