@import "../../scss/constants";
@import "../../scss/text";

.button {
  @include text-11-regular;
  display: inline-block;
  border-radius: $border-radius-6;
  border: 2px solid transparent;
  padding: 0 14px;
  height: 32px;
  line-height: 28px;
  color: $color-white;
  background-color: $color-blue;

  &:active,
  &:focus {
    border-color: $color-black-30;
  }

  &:disabled {
    opacity: $opacity-30;
    background-color: $color-black-80;
  }
}

.isSecondary {
  border: 1px solid $color-black-80;
  padding: 0 15px;
  line-height: 30px;
  color: $color-black-80;
  background-color: $color-white;

  &:active,
  &:focus {
    border-width: 2px;
    padding: 0 14px;
    border-color: $color-blue;
    line-height: 28px;
  }

  &:disabled {
    border-color: $color-black-80;
    color: $color-black-80;
    background-color: transparent;
  }
}

.isDestructive {
  background-color: $color-red;

  &.isSecondary {
    border-color: $color-red;
    color: $color-red;
    background-color: transparent;
  }
}

.isFullWidth {
  display: block;
  width: 100%;
}
