.button {
  position: relative;
  z-index: var(--z-index-1);
  display: inline-block;
}

.fullWidth {
  display: block;
}

.button button {
  display: inline-block;
  height: 32px;
  border-radius: var(--border-radius-6);
}

.disabled button {
  cursor: not-allowed;
}

.fullWidth button {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.default button {
  padding: 0 14px;
  border: 2px solid transparent;
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-text-onbrand);
  line-height: 28px;
}
.default:not(.disabled) button:focus {
  border-color: var(--figma-color-border-brand-strong);
}
.default.disabled button {
  background-color: var(--figma-color-bg-disabled);
  color: var(--figma-color-text-ondisabled);
}

.default.danger button {
  background-color: var(--figma-color-bg-danger);
  color: var(--figma-color-text-ondanger);
}
.default.danger:not(.disabled) button:focus {
  border-color: var(--figma-color-border-danger-strong);
}
.default.danger.disabled button {
  background-color: var(--figma-color-bg-disabled);
  color: var(--figma-color-text-ondisabled);
}

.secondary button {
  padding: 0 15px;
  border: 1px solid var(--figma-color-border-strong);
  background-color: transparent;
  color: var(--figma-color-text);
  line-height: 30px;
}
.secondary:not(.disabled) button:focus {
  padding: 0 14px;
  border-width: 2px;
  border-color: var(--figma-color-border-brand-strong);
  line-height: 28px;
}
.secondary.disabled button {
  border-color: var(--figma-color-border-disabled-strong);
  color: var(--figma-color-text-disabled);
}

.secondary.danger button {
  border-color: var(--figma-color-border-danger-strong);
  color: var(--figma-color-text-danger);
}
.secondary.danger:not(.disabled) button:focus {
  border-color: var(--figma-color-border-danger-strong);
}
.secondary.danger.disabled button {
  border-color: var(--figma-color-border-disabled-strong);
  color: var(--figma-color-text-disabled);
}

.loadingIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.default .loadingIndicator {
  color: var(--figma-color-icon-onbrand);
}
.default.disabled .loadingIndicator {
  color: var(--figma-color-icon-ondisabled);
}

.default.danger .loadingIndicator {
  color: var(--figma-color-icon-ondanger);
}
.default.danger.disabled .loadingIndicator {
  color: var(--figma-color-icon-ondisabled);
}

.secondary .loadingIndicator {
  color: var(--figma-color-text);
}
.secondary.disabled .loadingIndicator {
  color: var(--figma-color-text-disabled);
}

.secondary.danger .loadingIndicator {
  color: var(--figma-color-text-danger);
}
.secondary.danger.disabled .loadingIndicator {
  color: var(--figma-color-text-disabled);
}

.children {
  display: inline;
}
.loading .children {
  visibility: hidden;
}
