@import "../_constants.scss";
@import "../_text.scss";

.button {
  // reset
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  box-sizing: border-box;

  @include text-11-regular;
  user-select: none;
  border-radius: $border-radius-6;
  border: 2px solid transparent;
  width: 100%;
  height: 32px;
  line-height: 28px;
  color: $color-white;
  background-color: $color-blue;

  &:active,
  &:focus {
    border-color: $color-black-30;
  }

  &:disabled {
    opacity: $opacity-30;
    background-color: $color-black;
  }

  &.destructive {
    background-color: $color-red;
  }
}

.secondary {
  border: 1px solid $color-black;
  line-height: 30px;
  color: $color-black;
  background-color: $color-white;

  &:active,
  &:focus {
    border-width: 2px;
    border-color: $color-blue;
    line-height: 28px;
  }

  &:disabled {
    border-color: $color-black;
    color: $color-black;
    background-color: transparent;
  }

  &.destructive {
    border-color: $color-red;
    color: $color-red;
    background-color: transparent;
  }
}
