.button {
  position: relative;
  z-index: var(--z-index-1);
  display: inline-block;
}
.button button {
  display: inline-block;
  height: 32px;
  border-radius: var(--border-radius-6);
  color: currentColor;
}

.disabled {
  opacity: var(--opacity-30);
}
.disabled button {
  cursor: not-allowed;
}

.primary {
  color: var(
    --color-white
  ); /* Set the color of the `button` element and `LoadingIndicator` */
}
.primary button {
  padding: 0 14px;
  border: 2px solid transparent;
  background-color: var(--color-accent);
  line-height: 28px;
}
.primary:not(.disabled) button:focus {
  border-color: var(--color-black-30-translucent);
}
.primary.destructive {
  color: var(--color-white);
}
.primary.destructive button {
  background-color: var(--color-red);
}
.primary.disabled button {
  background-color: var(--color-black);
}

.secondary {
  color: var(--color-black-80);
}
.secondary button {
  padding: 0 15px;
  border: 1px solid var(--color-black-80);
  background-color: transparent;
  line-height: 30px;
}
.secondary:not(.disabled) button:focus {
  padding: 0 14px;
  border-width: 2px;
  border-color: var(--color-accent);
  line-height: 28px;
}
.secondary.destructive {
  color: var(--color-red);
}
.secondary.destructive button {
  border-color: var(--color-red);
}
.secondary.destructive:not(.disabled) button:focus {
  border-color: var(--color-red);
}

.fullWidth {
  display: block;
}
.fullWidth button {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loading button {
  color: rgba(0, 0, 0, 0); /* Hide the button text */
}
.loadingIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
