.layer {
  position: relative;
  z-index: var(--z-index-1);
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 var(--space-small);
}
.black-30 {
  color: var(--color-black-30);
}
.black-80 {
  color: var(--color-black-80);
}
.purple {
  color: var(--color-purple);
}

.icon,
.layerName,
.pageName {
  position: relative;
}

.layerName,
.pageName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.layerName {
  padding-left: var(--space-extra-small);
}
.bold {
  font-weight: var(--font-weight-bold);
}

.icon {
  flex: 0 0 16px;
  height: 16px;
}

.pageName {
  flex-grow: 1;
  padding-left: var(--space-extra-small);
  color: var(--color-black-30-translucent);
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(
    --z-index-1
  ); /* stack `.input` over all other elements within `.layer` */
  display: block;
  width: 100%;
  height: 100%;
}

.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.layer:hover .input ~ .fill {
  background-color: var(--color-selection-b);
}
.layer .input:checked ~ .fill {
  background-color: var(--color-selection-a);
}
