.layer {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 12px;
}

.component {
  color: var(--color-purple);
}
.frame {
  color: var(--color-black-80);
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-1);
  display: block;
  width: 100%;
  height: 100%;
}
.layer:hover .input {
  background-color: var(--color-selection-b);
}
.input:checked,
.layer:hover .input:checked {
  background-color: var(--color-selection-a);
}

.icon,
.layerName,
.pageName {
  position: relative;
  z-index: var(--z-index-2);
}

.layerName,
.pageName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.layerName {
  padding: 0 8px;
}
.component .layerName,
.frame .layerName {
  font-weight: var(--font-weight-bold);
}

.icon {
  flex: 0 0 16px;
  height: 16px;
  pointer-events: none;
}

.pageName {
  flex: 1 0 40px;
  color: var(--color-black-30);
}
