.layer {
  position: relative;
  z-index: var(--z-index-1);
  display: flex;
  height: 32px;
  align-items: center;
  padding: 0 var(--space-small);
}

.input,
.box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.input {
  z-index: var(--z-index-1); /* stack `.input` on top of everything else */
  display: block;
}
.disabled .input {
  cursor: not-allowed;
}

.input:checked ~ .box {
  background-color: var(--figma-color-bg-selected);
}
.input:not(:checked):hover ~ .box,
.input:focus ~ .box {
  border: 1px solid var(--figma-color-border-brand-strong);
}

.component .input:checked ~ .box {
  background-color: var(--figma-color-bg-component-tertiary);
}
.component .input:not(:checked):hover ~ .box,
.component .input:focus ~ .box {
  border-color: var(--figma-color-border-component-strong);
}

.icon,
.children,
.description {
  position: relative;
}

.children,
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.children {
  padding-left: var(--space-extra-small);
  color: var(--figma-color-text);
}
.component .children {
  color: var(--figma-color-text-component);
}
.bold .children {
  font-weight: var(--font-weight-bold);
}

.icon {
  height: 16px;
  flex: 0 0 16px;
  color: var(--figma-color-icon-secondary);
}
.input:checked ~ .icon {
  color: var(--figma-color-icon);
}
.component .icon,
.component .input:checked ~ .icon {
  color: var(--figma-color-icon-component);
}

.description {
  padding-left: var(--space-extra-small);
  color: var(--figma-color-text-secondary);
}
