@import '../../scss/constants';
@import '../../scss/text';

.layer {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 12px;
  color: $color-black-80;

  &:hover {
    background-color: $color-selection-b;
  }
}

.component {
  color: $color-purple;
}

.selected,
.selected:hover {
  background-color: $color-selection-a;
}

.layerName,
.pageName {
  @include text-11-regular;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

.layerName {
  padding: 0 8px;

  .component &,
  .frame & {
    font-weight: $font-weight-bold;
  }
}

.pageName {
  flex: 1 0 40px;
  color: $color-black-30;
}

.icon {
  flex: 0 0 16px;
  height: 16px;
  pointer-events: none;

  svg {
    width: 16px;
    height: 16px;

    .component & {
      fill: $color-purple;
    }
    .frame & {
      fill: $color-black-80;
    }
  }
}
