$border-radius-2: 2px;
$border-radius-6: 6px;

$color-black-1: rgba(0, 0, 0, 0.1);
$color-black-3: rgba(0, 0, 0, 0.3);
$color-black-8: rgba(0, 0, 0, 0.8);
$color-blue: #18a0fb;
$color-gray: #222222;
$color-red: #f24822;
$color-white: #ffffff;
$color-white-2: rgba(255, 255, 255, 0.2);

$font-family-inter: "Inter";
$font-family: $font-family-inter, "Helvetica", sans-serif;
$font-size-11: 11px;
$font-weight-regular: 400;
$font-weight-bold: 600;

$line-height-16: 16px;

$opacity-30: 0.3;
$box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
