$border-radius-2: 2px;
$border-radius-4: 4px;
$border-radius-6: 6px;

$color-gray: #b3b3b3;
$color-gray-light: #e5e5e5;
$color-black: #333333;
$color-black-30: rgba(0, 0, 0, 0.3);
$color-blue: #18a0fb;
$color-white: #ffffff;

$font-family-inter: "Inter";
$font-family: $font-family-inter, "Helvetica", sans-serif;
$font-size-11: 11px;
$font-weight-regular: 400;
$font-weight-bold: 600;

$line-height-16: 16px;

$opacity-30: 0.3;
