.tabs {
  position: relative;
  z-index: var(--z-index-1);
  display: flex;
  padding-left: var(--space-extra-small);
  border-bottom: 1px solid var(--figma-color-border);
}

.label {
  padding: var(--space-small) var(--space-extra-small);
  color: var(--figma-color-text-secondary);
}
.label:hover {
  color: var(--figma-color-text);
}

.input {
  display: block;
  width: 0;
  height: 0;
}

.input:checked ~ .value {
  color: var(--figma-color-text);
  font-weight: var(--font-weight-bold);
}

.children {
  color: var(--figma-color-text);
}
