.tabs {
  position: relative;
  z-index: var(--z-index-2);
  display: flex;
  padding-left: var(--space-extra-small);
  border-bottom: 1px solid var(--color-black-10);
}

.label {
  padding: var(--space-small) var(--space-extra-small);
  color: var(--color-black-30);
}
.label:hover {
  color: var(--color-black-80);
}

.input {
  display: block;
  width: 0;
  height: 0;
}

.input:checked ~ .value {
  color: var(--color-black-80);
  font-weight: var(--font-weight-bold);
}
