.tabs {
  position: relative;
  z-index: var(--z-index-1);
  padding-left: var(--space-extra-small);
  border-bottom: 1px solid var(--color-black-10);
}
.tabs:focus {
  outline: 0;
  box-shadow: none;
}

.label {
  display: inline-block;
  padding: var(--space-small) var(--space-extra-small);
  color: var(--color-black-30);
}
.label:hover {
  color: var(--color-black-80);
}

.input {
  display: none;
}

.input:checked + .text {
  color: var(--color-black-80);
  font-weight: var(--font-weight-bold);
}
.text:after {
  display: block;
  height: 0;
  overflow: hidden;
  font-weight: var(--font-weight-bold);
  visibility: hidden;
  content: attr(data-text);
  pointer-events: none;
}
