@import "../../scss/constants";
@import "../../scss/text";

.tabs {
  @include text-11-regular;
  position: relative;
  z-index: $z-index-1;
  border-bottom: 1px solid $color-black-10;
  padding-left: $space-extra-small;
}

.label {
  display: inline-block;
  color: $color-black-30;
  padding: $space-small $space-extra-small;

  &:hover {
    color: $color-black-80;
  }
}

.input {
  display: none;
}

.text {
  .input:checked + & {
    color: $color-black-80;
    font-weight: $font-weight-bold;
  }

  &:after {
    content: attr(data-text);
    pointer-events: none;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    font-weight: $font-weight-bold;
  }
}
