@import "../../scss/constants";
@import "../../scss/text";

.tabs {
  // reset
  box-sizing: border-box;

  @include text-11-regular;
  user-select: none;

  border-bottom: 1px solid $color-black-10;
  padding-left: $space-extra-small;
}

.label {
  // reset
  display: inline-block;

  text-align: center;
  color: $color-black-30;

  &:hover {
    color: $color-black-80;
  }
}

.input {
  display: none;
}

.text {
  position: relative;
  box-sizing: border-box;
  padding: $space-small $space-extra-small;

  .input:checked + & {
    color: $color-black-80;
    font-weight: $font-weight-bold;
  }

  &:after {
    content: attr(data-text);
    pointer-events: none;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    font-weight: $font-weight-bold;
  }
}
