@import '../../scss/constants';
@import '../../scss/text';

.tabs {
  @include text-11-regular;
  position: relative;
  z-index: $z-index-1;
  padding-left: $space-extra-small;
  border-bottom: 1px solid $color-black-10;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.label {
  display: inline-block;
  padding: $space-small $space-extra-small;
  color: $color-black-30;

  &:hover {
    color: $color-black-80;
  }
}

.input {
  display: none;
}

.text {
  .input:checked + & {
    color: $color-black-80;
    font-weight: $font-weight-bold;
  }

  &:after {
    display: block;
    height: 0;
    overflow: hidden;
    font-weight: $font-weight-bold;
    visibility: hidden;
    content: attr(data-text);
    pointer-events: none;
  }
}
