.input {
  position: absolute;
  z-index: var(--z-index-1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-indent: -9999em;
}

/* Rules below are copied from `button.module.css` */

.default:not(.disabled) input:focus ~ button {
  border-color: var(--figma-color-border-onbrand);
}
.default:not(.disabled) input:focus-visible ~ button {
  box-shadow: 0 0 0 var(--border-width-1) var(--figma-color-bg) inset;
}
.default:not(.disabled) input:active ~ button {
  background-color: var(--figma-color-bg-brand-pressed);
}

.secondary:not(.disabled) input:focus ~ button {
  border-color: var(--figma-color-border-selected);
}
.secondary:not(.disabled) input:active ~ button {
  background-color: var(--figma-color-bg-pressed);
}
