.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.default:not(.disabled) .input:focus ~ button {
  border-color: var(--figma-color-border-brand-strong);
}

.secondary:not(.disabled) .input:focus ~ button {
  padding: 0 14px;
  border-width: 2px;
  border-color: var(--figma-color-border-brand-strong);
  line-height: 28px;
}
