$border-radius-2: 2px;
$border-radius-6: 6px;

$box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);

$color-black-03: rgba(0, 0, 0, 0.03);
$color-black-10: rgba(0, 0, 0, 0.1);
$color-black-30: rgba(0, 0, 0, 0.3);
$color-black-80: rgba(0, 0, 0, 0.8);
$color-blue: #18a0fb;
$color-purple: #7b61ff;
$color-red: #f24822;
$color-silver: #e5e5e5;
$color-white: #ffffff;
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-40: rgba(255, 255, 255, 0.4);
$color-hud: #222222;
$color-preview: #f7f7f7;
$color-selection-a: #daebf7;
$color-selection-b: #edf5fa;

$font-family-inter: 'Inter';
$font-family: $font-family-inter, 'Helvetica', sans-serif;
$font-size-11: 11px;
$font-size-12: 12px;
$font-weight-regular: 400;
$font-weight-bold: 600;

$line-height-16: 16px;

$opacity-30: 0.3;

$z-index-1: 1;
$z-index-2: 2;

$space-unit: 4px;
$space-extra-small: 2 * $space-unit;
$space-small: 3 * $space-unit;
$space-medium: 4 * $space-unit;
$space-large: 5 * $space-unit;
$space-extra-large: 6 * $space-unit;
