@import "./constants";

@mixin text-11-regular {
  font-weight: $font-weight-regular;
  font-size: $font-size-11;
  line-height: $line-height-16;
  font-family: $font-family;
}

@mixin text-11-bold {
  font-weight: $font-weight-bold;
  font-size: $font-size-11;
  line-height: $line-height-16;
  font-family: $font-family;
}
