@import "../../../scss/constants";
@import "../../../scss/text";

.menu {
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;
  z-index: $z-index-2;
  border-radius: $border-radius-2;
  padding: 8px 0;
  max-height: 120px;
  color: $color-white;
  background-color: $color-hud;
  box-shadow: $box-shadow;
  overflow-y: auto;
}

.isTop {
  top: auto;
  bottom: 100%;
}

.menuItem,
.menuHeader {
  padding: 4px 16px;

  .hasIcon & {
    padding-left: 30px;
  }
}

.menuItemSelected {
  background-color: $color-blue;
}

.menuHeader {
  @include text-11-regular;
  color: $color-white-40;
}

.menuSeparator {
  // reset
  margin: 0;
  border: 0;

  margin: 8px 0;
  width: 100%;
  height: 1px;
  background-color: $color-white-20;
}
