.currentColor {
  fill: currentColor;
}

.black-30 {
  fill: var(--color-black-30);
}
.black-80 {
  fill: var(--color-black-80);
}
.blue {
  fill: var(--color-blue);
}
.green {
  fill: var(--color-green);
}
.purple {
  fill: var(--color-purple);
}
.red {
  fill: var(--color-red);
}
.white {
  fill: var(--color-white);
}
.white-20 {
  fill: var(--color-white-20-translucent);
}
.white-40 {
  fill: var(--color-white-40-translucent);
}
