@import '../../scss/constants';
@import '../../scss/text';

.button {
  position: relative;
  display: inline-block;
  color: $color-white;

  button {
    @include text-11-regular;
    display: inline-block;
    height: 32px;
    padding: 0 14px;
    color: currentColor;
    line-height: 28px;
    background-color: $color-blue;
    border: 2px solid transparent;
    border-radius: $border-radius-6;
  }

  &.disabled {
    opacity: $opacity-30;

    button {
      background-color: $color-black-80;
      cursor: not-allowed;
    }
  }
}

.fullWidth {
  display: block;

  button {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.loading {
  button {
    color: rgba(0, 0, 0, 0);
  }

  .loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      fill: currentColor;
    }
  }
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;

  &:active + button,
  &:focus + button {
    border-color: $color-black-30;
  }
}
