@import "../../scss/constants";
@import "../../scss/text";

.header {
  // reset
  margin: 0;
  padding: 16px 0 8px;

  @include text-11-regular;
  cursor: default;
  user-select: none;
  color: $color-black-3;
}
