@import '../../scss/constants';

.item {
  .extraSmall > & {
    margin-top: $space-extra-small;
  }

  .small > & {
    margin-top: $space-small;
  }

  .medium > & {
    margin-top: $space-medium;
  }

  .large > & {
    margin-top: $space-large;
  }

  .extraLarge > & {
    margin-top: $space-extra-large;
  }

  &:first-child {
    margin-top: 0;
  }
}
