.banner {
  position: relative;
  display: flex;
  padding: var(--space-8) var(--space-16) var(--space-8) var(--space-4);
  border-radius: var(--border-radius-6);
  background-color: var(--figma-color-bg-brand-tertiary);
}
.success {
  background-color: var(--figma-color-bg-success);
}
.warning {
  background-color: var(--figma-color-bg-warning);
}

.icon {
  color: var(--figma-color-icon);
}
.success .icon {
  color: var(--figma-color-icon-onsuccess);
}
.warning .icon {
  color: var(--figma-color-icon-onwarning);
}

.children {
  flex: 1;
  padding-top: var(--space-8);
  color: var(--figma-color-text);
}
.success .children {
  color: var(--figma-color-text-onsuccess);
}
.warning .children {
  color: var(--figma-color-text-onwarning);
}
