.banner {
  position: relative;
  display: flex;
  min-height: 48px;
  align-items: center;
  padding: var(--space-small) var(--space-medium) var(--space-small) 44px;
}

.informative {
  background-color: var(--figma-color-bg-brand-tertiary);
  color: var(--figma-color-text);
}
.upsell {
  background-color: var(--figma-color-bg-success);
  color: var(--figma-color-text-oninverse);
}
.warning {
  background-color: var(--figma-color-bg-warning);
  color: var(--figma-color-text);
}

.icon {
  position: absolute;
  top: 24px;
  left: 24px;
  transform: translate(-50%, -50%);
}
