.banner {
  position: relative;
  display: flex;
  min-height: 48px;
  align-items: center;
  padding: var(--space-small) var(--space-medium) var(--space-small) 44px;
  background-color: var(--figma-color-bg-brand-tertiary);
}
.success {
  background-color: var(--figma-color-bg-success);
}
.warning {
  background-color: var(--figma-color-bg-warning);
}

.icon {
  position: absolute;
  top: 24px;
  left: 24px;
  color: var(--figma-color-icon);
  transform: translate(-50%, -50%);
}
.success .icon {
  color: var(--figma-color-icon-onsuccess);
}
.warning .icon {
  color: var(--figma-color-icon-onwarning);
}

.children {
  color: var(--figma-color-text);
}
.success .children {
  color: var(--figma-color-text-onsuccess);
}
.warning .children {
  color: var(--figma-color-text-onwarning);
}
