.menu > ul + ul {
  margin-top: var(--space-100);
}

.menu a {
  display: block;
  padding: var(--space-025) var(--space-100);
  color: var(--color-fg-3);
}
.menu a:not(.menu__active):hover {
  color: var(--color-fg-2);
}
.menu .menu__active {
  color: var(--color-fg-1);
}

.menu a[target='_blank']:after {
  content: ' ↗';
}

.menu__toc li a {
  padding-left: var(--space-200);
}
.menu__toc li li a {
  padding-left: var(--space-300);
}
.menu__toc li li li a {
  padding-left: var(--space-400);
}

@media (max-width: 479px) {
  .menu {
    left: 0;
  }
}

@media (min-width: 480px) and (max-width: 759px) {
  .menu {
    width: 50%;
    border-left: 1px solid var(--color-fg-4);
  }
}

@media (min-width: 760px) and (max-width: 959px) {
  .menu {
    width: 33%;
    border-left: 1px solid var(--color-fg-4);
  }
}

@media (max-width: 959px) {
  .--menu-visible {
    overflow: hidden;
  }

  .menu {
    position: fixed;
    z-index: var(--z-index-2);
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: var(--space-200) 0;
    background-color: var(--color-bg-1);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    overflow-y: auto;
  }
  .--menu-visible .menu {
    display: block;
  }
}

@media (min-width: 960px) {
  .menu {
    width: var(--width-secondary);
    margin-top: calc(var(--space-050));
    margin-bottom: var(--space-200);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
}

@media (max-width: 1399px) {
  .menu__toc {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
}

@media (min-width: 1400px) {
  .menu__toc {
    position: fixed;
    top: var(--space-200);
    bottom: var(--space-200);
    left: calc(
      var(--width-secondary) +
        (
          (
              100% - var(--width-secondary) - var(--width-secondary) -
                var(--width-main)
            ) / 2
        ) + var(--width-main) + var(--space-100)
    );
    overflow: auto;
    width: var(--width-secondary);
    border-left: 1px solid var(--color-fg-4);
  }

  .menu__toc li a {
    padding-left: var(--space-100);
  }
  .menu__toc li li a {
    padding-left: var(--space-200);
  }
  .menu__toc li li li a {
    padding-left: var(--space-300);
  }
}
