.page__skip-to-content a {
  position: absolute;
  z-index: var(--z-index-2);
  top: 0;
  left: 0;
  display: block;
  padding: var(--space-100);
  background-color: var(--color-fg-1);
  color: var(--color-bg-1);
  transform: translateY(-100%);
}
.page__skip-to-content a:focus {
  transform: translateY(0);
}

.page__main {
  position: relative;
  z-index: var(--z-index-1);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.page__main-inner {
  padding: 0 var(--space-100);
}

@media (min-width: 640px) {
  .page__main-inner {
    width: var(--width-main);
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .page__header {
    position: fixed;
    z-index: var(--z-index-2);
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--width-secondary);
    overflow-y: auto;
  }

  .page__main {
    padding-left: var(--width-secondary);
  }
}

@media (min-width: 1400px) {
  .page__main {
    padding-right: calc(var(--space-100) + var(--width-secondary));
  }
}
