@import '../../scss/constants';
@import '../../scss/text';

.dropdownMenu {
  position: relative;
  display: inline-block;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.menu {
  @include text-12-regular;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $z-index-2;
  max-height: 120px;
  padding: 8px 0;
  overflow-y: auto;
  color: $color-white;
  background-color: $color-hud;
  border-radius: $border-radius-2;
  box-shadow: $box-shadow;
}

.menu::-webkit-scrollbar {
  display: none;
}

.fullWidth {
  width: 100%;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.top {
  top: auto;
  bottom: 100%;
}

.right {
  right: 0;
  left: auto;
}

.menuItem,
.menuHeader {
  padding: 5px 32px 3px;
}

.menuItem {
  position: relative;
}

.menuItemSelected {
  background-color: $color-blue;
}

.menuHeader {
  @include text-12-regular;
  color: $color-white-40;
}

.menuSeparator {
  width: 100%;
  height: 1px;
  margin: 8px 0;
  background-color: $color-white-20;
}

.icon {
  position: absolute;
  top: 5px;
  left: 8px;
}
