.text {
  padding-top: 1px;
  color: var(--figma-color-text);
  pointer-events: none;
  transform: translateY(4px);
}
.text:before {
  display: block;
  height: 0;
  margin-top: -9px;
  content: '';
  pointer-events: none;
}

.numeric {
  font-variant-numeric: tabular-nums;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.text small {
  color: var(--figma-color-text-secondary);
  font-size: inherit;
}
.text strong {
  font-weight: var(--font-weight-bold);
}
.text code {
  font-family: var(--font-family-code);
}

.text a {
  color: var(--figma-color-text-brand);
  pointer-events: all;
  text-decoration: none;
}
.text a:hover {
  text-decoration: underline;
}
.text a:focus {
  background-color: var(--figma-color-bg-selected);
  border-radius: var(--border-radius-2);
  outline: 0;
}
