@import "../_constants.scss";
@import "../_text.scss";

.text {
  @include text-11-regular;
  user-select: none;
  color: $color-black-8;

  strong {
    @include text-11-bold;
  }

  p {
    margin: 0 0 8px 0;
  }
}

.isMuted {
  color: $color-black-3;
}

.isBold {
  @include text-11-bold;
}
