@import "../../scss/constants";
@import "../../scss/text";

.text {
  @include text-11-regular;
  cursor: default;
  user-select: none;
  transform: translateY(4px);
  padding-top: 1px;
  color: $color-black-8;

  &:before {
    content: "";
    display: block;
    height: 0;
    margin-top: -9px;
  }

  strong {
    @include text-11-bold;
  }

  a {
    text-decoration: none;
    color: $color-blue;
  }
}

.isMuted {
  color: $color-black-3;
}

.isBold {
  @include text-11-bold;
}
