@import url('https://fonts.googleapis.com/css?family=Inter:400,600&display=swap');

:root {
  --border-radius-2: 2px;
  --border-radius-6: 6px;
  --box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15),
    inset 0 0 0 0.5px #000000, 0 0 0 0.5px rgba(0, 0, 0, 0.1);
  --font-family: 'Inter', 'Helvetica', sans-serif;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --line-height-16: 16px;
  --opacity-30: 0.3;
  --space-extra-small: 8px;
  --space-small: 12px;
  --space-medium: 16px;
  --space-large: 20px;
  --space-extra-large: 24px;
  --z-index-1: 1;
  --z-index-2: 2;
}

:root {
  /* black */
  --color-black: #000000;
  --color-black-80: #333333;
  --color-black-80-translucent: rgba(0, 0, 0, 0.8);
  --color-black-30: #b3b3b3;
  --color-black-30-translucent: rgba(0, 0, 0, 0.3);
  --color-black-6-translucent: rgba(0, 0, 0, 0.06);
  --color-black-3-translucent: rgba(0, 0, 0, 0.03);
  /* white */
  --color-white: #ffffff;
  --color-white-40-translucent: rgba(255, 255, 255, 0.4);
  --color-white-20-translucent: rgba(255, 255, 255, 0.2);
  /* grays */
  --color-silver: #e5e5e5;
  --color-hud: #222222;
  /* accent */
  --color-blue: #18a0fb;
  --color-blue-30-translucent: rgba(24, 160, 251, 0.3);
  --color-green: #1bc47d;
  --color-purple: #7b61ff;
  --color-red: #f24822;
  --color-yellow: #ffeb00;
  /* special */
  --color-selection-a: #daebf7;
  --color-selection-b: #edf5fa;
}

* {
  box-sizing: border-box;
  border-color: currentColor;
  border-style: solid;
  border-width: 0;
}

body {
  margin: 0;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-11);
  font-family: var(--font-family);
  line-height: var(--line-height-16);
}

div,
span {
  cursor: default;
  user-select: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: inherit;
}

button {
  padding: 0;
  font: inherit;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}

hr {
  margin: 0;
  border: 0;
}

label {
  display: block;
}

input,
textarea {
  margin: 0;
  padding: 0;
  font: inherit;
  border: 0;
  outline: 0;
  cursor: default;
  -webkit-appearance: none;
}

svg {
  display: block;
}

::selection {
  background-color: var(--color-blue-30-translucent);
}
