.menu {
  position: absolute;
  left: 0;
  min-width: 100%;
  padding: var(--space-extra-small) 0;
  background-color: #1e1e1e; /* FIXME */
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow-menu);
  color: rgba(255, 255, 255, 1); /* FIXME */
  font-size: var(--font-size-12);
  overflow-y: auto;
}
.menu::-webkit-scrollbar {
  display: none;
}

.hidden {
  pointer-events: none;
  visibility: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  .menu {
    -webkit-font-smoothing: antialiased;
  }
}

.optionHeader,
.optionValue {
  overflow: hidden;
  padding: 4px var(--space-medium) 4px 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.optionHeader {
  color: rgba(255, 255, 255, 0.7); /* FIXME */
  font-size: var(--font-size-12);
}

.optionValue {
  position: relative;
}
.optionValueSelected {
  background-color: var(--figma-color-bg-brand);
}
.optionValueDisabled {
  color: rgba(255, 255, 255, 0.4); /* FIXME */
}

.optionSeparator {
  width: 100%;
  height: 1px;
  margin: var(--space-extra-small) 0;
  background-color: #444444; /* FIXME */
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.checkIcon {
  position: absolute;
  top: 5px;
  left: var(--space-extra-small);
}
