.modal {
  position: fixed;
  z-index: var(--z-index-2);
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-modal);
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.bottom {
  bottom: -100%;
  left: 0;
  width: 100%;
  transition-property: bottom;
}
.isOpen.bottom {
  bottom: 0;
}

.center {
  top: 50%;
  left: 50%;
  border-radius: var(--border-radius-2);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition-property: opacity;
  pointer-events: none;
}
.isOpen.center {
  opacity: 1;
  pointer-events: all;
}

.left {
  top: 0;
  left: -100%;
  height: 100%;
  transition-property: left;
}
.isOpen.left {
  left: 0;
}

.right {
  top: 0;
  right: -100%;
  height: 100%;
  transition-property: right;
}
.isOpen.right {
  right: 0;
}

.topBar {
  display: flex;
  align-items: center;
  order: -1;
  min-height: 41px;
  padding: 4px;
  border-bottom: 1px solid var(--color-silver);
}

.closeButton {
  position: relative;
  display: block;
  border-radius: var(--border-radius-2);
}
.closeButton:hover,
.closeButton:focus {
  background-color: var(--color-black-6-translucent);
}
.closeButtonLeft {
  order: -1;
}

.closeButtonBorder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid transparent;
  border-radius: var(--border-radius-2);
}
.closeButton:focus .closeButtonBorder {
  border-color: var(--color-blue);
}

.title {
  flex-grow: 1;
  padding: 0 var(--space-extra-small);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-1);
  background-color: var(--color-black-30-translucent);
  opacity: 0;
  transition: opacity ease 0.3s;
  pointer-events: none;
}
.isOpen + .overlay {
  opacity: 1;
  pointer-events: all;
}
