.searchTextbox {
  position: relative;
  z-index: var(--z-index-1);
  display: flex;
  align-items: center;
}
.disabled {
  opacity: var(--opacity-30);
}

.input {
  flex-grow: 1;
  width: 100%;
  height: 40px;
  padding-left: 36px;
  color: var(--color-black-80);
  background-color: transparent;
}
.disabled .input {
  cursor: not-allowed;
}
.input::placeholder {
  color: var(--color-black-30);
}

.searchIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 4px;
  color: var(--color-black-80);
  pointer-events: none; /* so that clicking the icon focuses the textbox */
}

.clearButton {
  flex: 0 0 40px;
  height: 40px;
  padding: 4px;
  color: var(--color-black-30);
}
.searchTextbox:not(.disabled) .clearButton:hover {
  color: var(--color-black-80);
}
.searchTextbox:not(.disabled) .clearButton:focus {
  color: var(--color-black-80);
  outline: 0;
}
