@import "../../scss/constants";
@import "../../scss/text";

.searchTextbox {
  @include text-11-regular;
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  @include text-11-regular;
  flex-grow: 1;
  padding-left: 36px;
  width: 100%;
  height: 40px;
  color: $color-black-80;

  &:disabled {
    cursor: not-allowed;
    opacity: $opacity-30;
  }

  &::placeholder {
    color: $color-black-30;
  }
}

.searchIcon {
  pointer-events: none;
  position: absolute;
  top: 12px;
  left: 12px;
  color: $color-black-80;

  .input:disabled + & {
    opacity: $opacity-30;
  }
}

.clear {
  flex: 0 0 40px;
  height: 40px;
  padding: 12px;
  color: $color-black-30;

  &:hover {
    color: $color-black-80;
  }

  &:focus {
    outline: 0;
    color: $color-black-80;
  }
}
