@import "../../scss/constants";
@import "../../scss/text";

.label {
  // reset
  display: flex;

  @include text-11-regular;
  user-select: none;
  position: relative;
  z-index: $z-index-1;
}

.input {
  // reset
  -webkit-appearance: none;
  display: block;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  background: none;

  flex: 0 0 12px;
  border: 1px solid $color-black-80;
  border-radius: 6px;
  height: 12px;

  &:checked:after {
    content: "";
    display: block;
    margin: 2px 0 0 2px;
    border-radius: 4px;
    width: 6px;
    height: 6px;
    background-color: $color-black-80;
  }

  &:disabled {
    opacity: $opacity-30;
  }
}

.text {
  flex-grow: 1;
  padding: 2px 0 0 8px;

  .input:disabled ~ & {
    cursor: not-allowed;
    opacity: $opacity-30;
  }
}
