@import "@create-figma-plugin/ui/src/scss/constants";
@import "@create-figma-plugin/ui/src/scss/text";

.preview {
  // reset
  box-sizing: border-box;

  @include text-11-regular;
  cursor: default;
  user-select: none;
  position: relative;
  padding: $space-medium 0;
  height: 121px;
  overflow: auto;
  background-color: $color-preview;
  border-bottom: 1px solid $color-silver;
}
