@import "../../scss/constants";
@import "../../scss/text";

.preview {
  @include text-11-regular;
  position: relative;
  padding: $space-medium 0;
  height: 121px;
  overflow: auto;
  background-color: $color-preview;
  border-bottom: 1px solid $color-silver;
}
