@import "@create-figma-plugin/ui/src/scss/constants";
@import "@create-figma-plugin/ui/src/scss/text";

.preview {
  // reset
  box-sizing: border-box;

  @include text-11-regular;
  display: flex;
  align-items: center safe;
  cursor: default;
  user-select: none;
  position: relative;
  height: 121px;
  overflow: auto;
  background-color: #f7f7f7;
  border-bottom: 1px solid $color-silver;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.inner {
  flex-grow: 1;
}
