.label {
  position: relative;
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.hitArea {
  position: absolute;
  top: -8px;
  right: -16px;
  bottom: -8px;
  left: -16px;
  display: block;
  content: '';
}

.fill,
.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: var(--border-radius-2);
}

.border {
  border: 1px solid var(--color-black-80);
}
.input:focus ~ .border {
  border-color: var(--color-blue);
  box-shadow: 0 0 0 1px var(--color-blue);
}
.input:checked ~ .border {
  border: 0;
}
.input:checked:focus ~ .border {
  box-shadow: 0 0 0 1px var(--color-white), 0 0 0 2px var(--color-blue);
}

.input:checked ~ .fill {
  background: var(--color-blue)
    url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%227%22%20viewBox%3D%220%200%208%207%22%20width%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m1.17647%201.88236%201.88235%201.88236%203.76471-3.76472%201.17647%201.17648-4.94118%204.9412-3.05882-3.05884z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E')
    no-repeat 50% 50%;
}

.input:disabled {
  cursor: not-allowed;
}
.input:disabled ~ .fill,
.input:disabled ~ .border,
.input:disabled ~ .children {
  opacity: var(--opacity-30);
}

.children {
  min-height: 12px;
  padding: 2px 0 0 20px;
}
