@import '../../scss/constants';
@import '../../scss/text';

.label {
  @include text-11-regular;
  position: relative;
  display: flex;

  &:before {
    position: absolute;
    top: -8px;
    right: -16px;
    bottom: -8px;
    left: -16px;
    display: block;
    // Increase the clickable area
    content: '';
  }
}

.disabled {
  cursor: not-allowed;
  opacity: $opacity-30;
}

.input {
  flex: 0 0 12px;
  height: 12px;
  border: 1px solid $color-black-80;
  border-radius: $border-radius-2;

  &:focus {
    border-color: $color-blue;
  }

  &:focus:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: $border-radius-2;
    box-shadow: 0 0 0 1px $color-blue;
    content: '';
  }

  &:checked {
    background: $color-blue
      url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%227%22%20viewBox%3D%220%200%208%207%22%20width%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m1.17647%201.88236%201.88235%201.88236%203.76471-3.76472%201.17647%201.17648-4.94118%204.9412-3.05882-3.05884z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E')
      no-repeat 50% 50%;
    border-color: transparent;

    &:focus:before {
      box-shadow: 0 0 0 1px $color-white, 0 0 0 2px $color-blue;
    }
  }

  &:disabled {
    border-color: $color-black-80;

    &:before {
      display: none;
    }

    &:checked {
      background-color: $color-black-80;
    }
  }
}

.text {
  flex-grow: 1;
  padding: 2px 0 0 8px;
}
