.textboxMultiline {
  position: relative;
  z-index: var(--z-index-1);
}

.grow {
  display: grid;
}

.ghost,
.grow .textarea {
  grid-area: 1 / 1 / 2 / 2;
}

.ghost {
  padding: 6px 0 6px var(--space-extra-small);
  visibility: hidden;
  white-space: pre-wrap;
}

.textarea {
  display: block;
  width: 100%;
  padding: 6px 0 6px var(--space-extra-small);
  background-color: transparent;
  border-radius: var(--border-radius-2);
  color: var(--figma-color-text);
  resize: none;
}
.textarea::placeholder {
  color: var(--figma-color-text-tertiary);
}
.disabled .textarea {
  color: var(--figma-color-text-disabled);
  cursor: not-allowed;
}

.border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  border-radius: var(--border-radius-2);
  pointer-events: none;
}
.hasBorder .border,
.textboxMultiline:not(.disabled):hover .border {
  border-color: var(--figma-color-border);
}
.textboxMultiline:not(.disabled) .textarea:focus ~ .border {
  top: -1px;
  bottom: -1px;
  border: 2px solid var(--figma-color-border-brand-strong);
}

.underline {
  position: absolute;
  right: var(--space-extra-small);
  bottom: 0;
  left: var(--space-extra-small);
  height: 1px;
  background-color: var(--figma-color-border);
}
.textboxMultiline:not(.disabled) .textarea:focus ~ .underline,
.textboxMultiline:not(.disabled):hover .underline {
  background-color: transparent;
}
