.iconToggleButton {
  position: relative;
  width: 30px;
  height: 30px;
}

.input {
  position: absolute;
  z-index: var(--z-index-1); /* stack above .icon */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
}
.disabled .input {
  cursor: not-allowed;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: var(--border-radius-2);
}
.iconToggleButton:not(.disabled) .input:not(:checked) ~ .box {
  color: var(--figma-color-icon);
}
.iconToggleButton:not(.disabled) .input:not(:checked):hover ~ .box {
  background-color: var(--figma-color-bg-hover);
}
.iconToggleButton:not(.disabled) .input:focus ~ .box {
  border-color: var(--figma-color-border-brand-strong);
}
.iconToggleButton:not(.disabled) .input:checked ~ .box {
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-icon-onbrand);
}
.disabled .input:not(:checked) ~ .box {
  color: var(--figma-color-icon-disabled);
}
.disabled .input:checked ~ .box {
  background-color: var(--figma-color-bg-disabled);
  color: var(--figma-color-icon-ondisabled);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
