@import '../../scss/constants';
@import '../../scss/text';

.label {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 16px;
  color: $color-black-80;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $color-selection-b;
  }
}

.checked,
.checked:hover {
  background-color: $color-selection-a;
}

.disabled {
  background-color: $color-black-30;
  cursor: not-allowed;
  opacity: $opacity-30;

  &:hover {
    background-color: $color-black-30;
  }
}

.indent {
  padding-left: 36px;
}

.input {
  display: none;
}

.text {
  @include text-11-regular;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;

  .bold & {
    @include text-11-bold;
  }
}

.icon {
  flex: 0 0 16px;
  height: 16px;
  margin-left: 8px;
  color: $color-blue;
  pointer-events: none;

  .disabled & {
    color: $color-black-80;
  }
}
