.selectableItem {
  position: relative;
  z-index: var(--z-index-1);
  display: flex;
  height: 32px;
  align-items: center;
  padding: 0 var(--space-medium);
  color: var(--color-black-80);
}
.selectableItem:hover {
  background-color: var(--color-selection-b);
}

.checked,
.checked:hover {
  background-color: var(--color-selection-a);
}

.disabled {
  background-color: var(--color-black-30);
  cursor: not-allowed;
  opacity: var(--opacity-30);
}
.disabled:hover {
  background-color: var(--color-black-30);
}

.indent {
  padding-left: 36px;
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
}

.children {
  overflow: hidden;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bold .children {
  font-weight: var(--font-weight-bold);
}

.checkIcon {
  height: 16px;
  flex: 0 0 16px;
  margin-left: var(--space-extra-small);
  color: var(--color-blue);
}
.disabled .checkIcon {
  color: var(--color-black-80);
}
