@import "../../scss/constants";
@import "../../scss/text";

.label {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 16px;
  height: 32px;
  color: $color-black-80;

  &:hover {
    background-color: $color-selection-b;
  }

  &:focus {
    outline: 0;
  }
}

.isDisabled {
  cursor: not-allowed;
  opacity: $opacity-30;
  background-color: $color-black-30;

  &:hover {
    background-color: $color-black-30;
  }
}

.isIndented {
  padding-left: 36px;
}

.isChecked,
.isChecked:hover {
  background-color: $color-selection-a;
}

.input {
  display: none;
}

.text {
  @include text-11-regular;
  pointer-events: none;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .isBold & {
    @include text-11-bold;
  }
}

.icon {
  pointer-events: none;
  flex: 0 0 16px;
  margin-left: 8px;
  height: 16px;

  svg {
    width: 16px;
    height: 16px;
    fill: $color-blue;
  }
}
