.loadingIndicator {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 auto;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  animation: rotating 0.5s linear infinite;
  fill: currentColor;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
