.dropdown {
  position: relative;
  z-index: var(--z-index-2);
  display: flex;
  align-items: center;
  height: 28px;
  padding-left: var(--space-extra-small);
  color: var(--color-black-80);
}
.dropdown:not(.disabled):focus {
  outline: 0;
}
.disabled {
  opacity: var(--opacity-30);
}

.disabled,
.disabled > * {
  cursor: not-allowed;
}

.icon {
  width: 16px;
  margin-right: var(--space-extra-small);
  color: var(--color-black-30);
  text-align: center;
}
.dropdown:not(.disabled):focus .icon,
.dropdown:not(.disabled):focus-within .icon {
  color: var(--color-blue);
}
.icon svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.value {
  margin-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dropdown:not(.disabled):hover .value,
.dropdown:not(.disabled):focus .value,
.dropdown:not(.disabled):focus-within .value {
  flex-grow: 1;
}
.placeholder {
  color: var(--color-black-30);
}

.chevronIcon {
  margin-right: var(--space-extra-small);
  color: var(--color-black-30);
}
.dropdown:not(.disabled):hover .chevronIcon,
.dropdown:not(.disabled):focus .chevronIcon,
.dropdown:not(.disabled):focus-within .chevronIcon {
  color: var(--color-black-80);
}

.border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-color: var(--color-silver);
  border-width: 1px;
  border-radius: var(--border-radius-2);
}
.dropdown:not(.disabled):focus .border,
.dropdown:not(.disabled):focus-within .border {
  border-color: var(--color-blue);
  border-width: 2px;
}
.noBorder:not(:focus) .border {
  border-color: transparent;
}
.noBorder:not(:focus):hover .border {
  border-color: var(--color-silver);
}
