.dropdown {
  position: relative;
  z-index: var(--z-index-1);
  display: flex;
  width: 100%;
  min-width: 0; /* See https://css-tricks.com/flexbox-truncated-text/ */
  height: 28px;
  align-items: center;
  padding-left: var(--space-extra-small);
  color: var(--figma-color-text);
}
.dropdown:not(.disabled):focus-within {
  z-index: var(--z-index-2); /* stack `.dropdown` over its sibling elements */
  outline: 0;
}

.menu {
  position: fixed;
}

.disabled {
  cursor: not-allowed;
}

.icon {
  position: absolute;
  top: 14px;
  left: 16px;
  color: var(--figma-color-icon-secondary);
  text-align: center;
  transform: translate(-50%, -50%);
}
.disabled .icon {
  color: var(--figma-color-icon-disabled);
}

.empty {
  flex-grow: 1;
}

.value {
  overflow: hidden;
  margin-right: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown:not(.disabled):hover .value,
.dropdown:not(.disabled):focus .value,
.dropdown:not(.disabled):focus-within .value {
  flex-grow: 1;
}
.disabled .value {
  color: var(--figma-color-text-disabled);
}
.hasIcon .value {
  padding-left: var(--space-extra-large);
}

.placeholder {
  color: var(--figma-color-text-tertiary);
}

.chevronIcon {
  margin-right: var(--space-extra-small);
  color: var(--figma-color-icon-secondary);
}
.dropdown:not(.disabled):hover .chevronIcon {
  color: var(--figma-color-icon);
}
.disabled .chevronIcon {
  color: var(--figma-color-icon-disabled);
}

.border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  border-radius: var(--border-radius-2);
}
.hasBorder .border,
.dropdown:not(.disabled):not(:focus):hover .border {
  border-color: var(--figma-color-border);
}
.dropdown:focus .border {
  top: -1px;
  bottom: -1px;
  border-width: 2px;
  border-color: var(--figma-color-border-brand-strong);
}

.underline {
  position: absolute;
  right: var(--space-extra-small);
  bottom: 0;
  left: var(--space-extra-small);
  height: 1px;
  background-color: var(--figma-color-border);
}
.dropdown:not(.disabled):hover .underline,
.dropdown:not(.disabled):focus .underline {
  background-color: transparent;
}
