.button a {
  display: block;
  padding: var(--space-100);
  border: 1px solid var(--color-gray-4);
  border-radius: var(--border-radius);
  margin-top: var(--space-200);
  color: var(--color-white);
  text-align: center;
  user-select: none;
}
.button a:hover {
  border-color: transparent;
  background-color: var(--color-white);
  color: var(--color-black);
}
.button a:after {
  content: ' →';
}
