.image {
  display: block;
  overflow: hidden;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  border-radius: 50%;
  user-select: none;
}
.image--large {
  width: 3rem;
  height: 3rem;
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
}
