[data-rehype-pretty-code-fragment] pre {
  margin-top: var(--space-100);
  background-color: var(--color-gray-1);
  border-radius: var(--border-radius);
}

[data-rehype-pretty-code-fragment] pre > code {
  display: grid;
  padding: var(--space-100) 0;
  overflow-x: auto;
}

[data-rehype-pretty-code-fragment] .line {
  padding: 0 var(--space-100);
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  background-color: var(--color-highlight-bg);
  box-shadow: inset 3px 0 0 var(--color-highlight-fg);
}
