.tweet {
  padding: var(--space-200) var(--space-200) var(--space-100);
  background: var(--color-gray-1);
  border-radius: var(--border-radius);
  color: var(--color-white);
}
.tweet + .tweet {
  margin-top: var(--space-100);
}

.tweet__meta {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.tweet__author a {
  display: flex;
  align-items: center;
  padding: var(--space-100) 0;
}

.tweet__name {
  margin-left: var(--space-050);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
}
a:hover .tweet__name {
  text-decoration: underline;
  text-decoration-color: var(--color-gray-4);
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.tweet__handle {
  margin-left: var(--space-050);
  color: var(--color-gray-4);
}
a:hover .tweet__handle {
  color: var(--color-gray-5);
}

.tweet__date {
  display: flex;
  align-items: center;
}
.tweet__date:before {
  display: block;
  margin: 0 var(--space-050);
  color: var(--color-gray-4);
  content: '·';
}
.tweet__date a {
  display: block;
  padding: var(--space-100) 0;
  color: var(--color-gray-4);
}
.tweet__date a:hover {
  color: var(--color-gray-5);
}
